<ion-view class="settings-view">
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>{{experience.info.name}}</span>
  </ion-nav-title>
  <ion-content scroll="false" overflow-scroll="true" class="bggray">

    <div class="upper">

      <ion-slides options="options" slider="data.slider">

        <ion-slide-page class="swiper-slide" ng-repeat="slide in entries track by $index">

          <!--          <div class="experienceDescription item-icon-right nopaddingtopbottom">
                      <span class="descriptionContainer">
                        {{slide.description}}{{slide.timeStamp | date: "MMM dd, yyyy h:mma" }}
                      </span>
                      <div class="weatherContainer">
                        <weather-icon icon="slide.weather"></weather-icon>
                        <span style="font-size: 12px;">&nbsp; {{slide.temp | number: 0}} °C</span>
                      </div>


                      <i ng-class="{'icon ion-ios-heart-outline' : liked == false, 'icon ion-ios-heart red': liked == true}"
                         ng-click="liked!=liked"></i>
                    </div>-->

          <div class="experienceDescription item-icon-right nopaddingtopbottom">
            <div class="row alignCenter">
              <div class="col">
                <div class="weatherContainer ">
                  {{slide.description}}
                </div>
              </div>

              <div class="col col-25">
                <div class="weatherContainer">
                  <weather-icon icon="slide.weather"></weather-icon>
                  <span style="font-size: 12px;">&nbsp; {{slide.temp | number: 0}} °C</span>
                </div>
              </div>
              <div clas="col col-10">
                <i ng-class="{'icon ion-ios-heart-outline' : liked == false, 'icon ion-ios-heart red': liked == true}"
                   ng-click="liked!=liked"></i>
              </div>

            </div>


          </div>


          <div class="thumbnail">
            <!--Class = portrait -->
            <!-- According to swiper idangero.us, you require data-src -->
            <video id="video{{$index}}" ng-if="slide.imageUrl.substr(slide.imageUrl.lastIndexOf('.')+1) == 'mp4'"
                   class="portrait" width="100%" controls loop>
              <source ng-src="{{getUrl($index)}}" type="video/mp4">
            </video>
            <video id="audio{{$index}}" width="100%"
                   ng-if="slide.imageUrl.substr(slide.imageUrl.lastIndexOf('.')+1) == 'm4a'" controls>
              <source ng-src="{{getUrl($index)}}" type="audio/mp4">
              Your browser does not support the audio element.
            </video>
            <img ng-if="slide.imageUrl.substr(slide.imageUrl.lastIndexOf('.')+1) == 'jpg'" data-src="{{slide.imageUrl}}"
                 class="swiper-lazy portrait" alt="Image" ng-click="showImages()"/>
            <div ng-if="slide.imageUrl.substr(slide.imageUrl.lastIndexOf('.')+1) == 'jpg'"
                 class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>

        </ion-slide-page>
      </ion-slides>


    </div>

    <div class="mapWrap" data-tap-disabled="true">
      <div class="experienceDescriptionTwo">
        <div class="row">
          <div class="col col-33 ">
            <span style="font-size: 10px;">
            {{date | date: "MMM dd, yyyy h:mma" }}
          </span>
          </div>
          <div class="col col-33">
            <span style="font-size: 10px;">
             live!
            </span>

          </div>
          <div class="col col-33 alignCenter" ng-if="contrib !== 'false'">
            <img style="border-radius: 100%; height: 20px;" ng-src="{{contribImg}}" />
              &nbsp &nbsp{{contrib}}
          </div>
        </div>
      </div>
      <map
        center="{{lat}}, {{lon}}"
        disable-default-u-i="true"
        draggable="true"
        zoom="15">

        <marker ng-repeat="picture in entries"
                position="{{picture.lat}}, {{picture.lon}}"
                icon="{{markerRed}}"
                z-index="1"></marker>
        <marker position="{{lat}}, {{lon}}"
                icon="{{markerGreen}}"
                z-index="100"></marker>


      </map>
    </div>


  </ion-content>
</ion-view>

<!--<ion-slide-box
  style="height: 100% !important; background:#8080c5;"
  on-slide-changed="slideChanged($index)"
  active-slide="selectedSlide"
  does-continue="true"
  show-pager="false">

  <ion-slide ng-repeat="slide in slides">

    <div class="experienceDescription item-icon-right" >
      {{slide.desc}}
      <i ng-class="{'icon ion-ios-heart-outline' : liked == false, 'icon ion-ios-heart red': liked == true}" ng-click="liked!=liked"  ></i>
    </div>

    <div class="thumbnail">
      <img ng-src="{{slide.src}}" class="portrait" alt="Image" ng-click="showImages()"  />
    </div>

  </ion-slide>
</ion-slide-box>-->
