<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>  Capture Settings</span>
  </ion-nav-title>
  <ion-content>


    <ul class="list">

      <button  class="button button-block button-assertive" ng-click="click()">
        Capture
      </button>
      <button  class="button button-block button-assertive" ng-click="broadcast()">
        Broadcast Live
      </button>
      <button  class="button button-block button-calm" ng-click="cameraCapture()">
        Picture
      </button>
      <button  class="button button-block button-balanced" ng-click="videoCapture()">
        Video
      </button>
      <button  class="button button-block button-royal" ng-click="audioCapture()">
        Sound
      </button>
    </ul>

  </ion-content>
</ion-view>
