<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>  Offline Settings </span>
  </ion-nav-title>

  <ion-content class="has-header" scroll="true" overflow-scroll="true" has-subheader="true">
    <ul class="list">

      <ion-toggle ng-model="offline.value" ng-change="connectToggle()" toggle-class="toggle-assertive">Offline Mode</ion-toggle>

      <button  class="button button-block button-royal" ng-click="audioCapture()">
        Bulk Uploader
      </button>

      Bitch fuck off

      <ion-item class="item-thumbnail-left item-icon-right"  ng-repeat="entry in offlineExp" ng-click="bulkLoad(entry.timeStamp)">

        <img ng-src="{{entry.imageUrl}}">
        <h2> {{entry.title}}</h2><weather-icon icon="entry.weather"></weather-icon>
        <h3>{{entry.timeStamp*1000 | date: "MMM dd, yyyy h:mma" }}</h3>
        <h4> {{entry.description}}</h4>
        <h4>{{entry.location}}</h4>

      </ion-item>


    </ul>

  </ion-content>
</ion-view>
