<ion-view class="view-login" view-title="SignIn">

    <ion-content padding="false" scroll="false">

        <div class="user-head padding text-center step1">
            <div class="logo2">
                <img src="img/icon.png">
                <img class="signinlogo" src="img/Logoheader.svg">
            </div>

            <h2 class="step2">Share What You Find Is Beautiful</h2>

            <ion-tabs class="tabs-positive tabs-top">
                <ion-tab title="Sign In" ui-sref="user.signin"></ion-tab>
            </ion-tabs>
        </div>
        <ion-nav-view class="step3" name="tabLogin"></ion-nav-view>
    </ion-content>
</ion-view>
