/* Empty. Add your own CSS if you like */
.experiencepicture {
  max-height: 50%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;

}

.row{

  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 50% !important;
  -ms-flex: 0 1 50% !important;
  flex: 0 1 50% !important;
}
